<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мой сайт{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul class="left-nav">
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="{% url 'contact' %}">Контакты</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'create_request' %}">Создать заявку</a></li>
                    {% if user.role == 'support' %}
                        <li><a href="{% url 'support_messages' %}">Сообщения клиентов</a></li>
                    {% elif user.role == 'manager' %}
                        <li><a href="{% url 'manage_requests' %}">Заявки</a></li>
                    {% endif %}
                {% endif %}
            </ul>
            <ul class="right-nav">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Выйти</a></li>
                {% else %}
                    <li><a href="{% url 'register' %}">Регистрация</a></li>
                    <li><a href="{% url 'login' %}">Войти</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
